<nav>
    <ul>
        <li>
            <a href = "/">Categorie</a>
        <li>
            <a href = "/login">Login</a>
        </li>
        <li>
            <a href = "/register">Register</a>
        <li>
            <a href = "#">Create a Quiz</a>
        </li>
    </ul>
</nav>